.base{
    border-radius: 4px;
    margin-top: 1rem;
}

.hero {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  background-color: transparent;
  color: #442c1f;
  border: 2px solid #442c1f;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
  border-radius: 4px;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #442c1f;
  z-index: -1;
  transition: top 0.3s ease;
}

.hero:hover::before {
  top: 0;
}

.hero:hover {
  color: white;
}
