.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: left center;
  z-index: 1;
}

.overlay {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: #442c1f;
  text-align: left;
  width: 70%;
}

.overlay h1 {
  font-size: 3.5rem;
  max-width: 90vw;
}
